
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.apple-pie {
    background-image: url("../images/apple-pie.jpg");
    background-size: cover;
    background-position: center;
    border: solid 2px red;
    height: 700px;
}

h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    font-size: 70px;
    text-align: center;
    border: solid 2px red;
    padding-top: 190px;
}

.section-1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: solid 2px red;
  }

p {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    border: solid 2px red;
    padding: 30px 30px 30px 350px;
}

.recipe-img {
    display: flex;
    justify-content: center;
    align-self: center;
    border: solid 2px red;
    padding-left: 350px;
}

.ingredients {
    font-display: center;
    padding: 20px;
    border: solid 2px red;

}

.needed-ingredients {
    text-decoration: none;
    list-style-type: none;
    text-align: justify;
    font-display: center;
    border: solid 2px red;

}

body {
    font-family: ‘Montserrat’, sans-serif;
    border: solid 2px red;
}


.cook-directions {
    text-decoration: none;
    list-style-type: none;
    font-display: justify;
}

h2 {
    text-align: justify;
    text-align-last: center;
    border: solid 2px red;
  
}


 

  .directions-class {
    padding: 20px;
    border: solid 2px red;

  }

 